

.title {
    color: midnightblue;
    text-align: center;
}

.subtitle{
    text-align: center;
    display: block;
    
    margin: 0px auto 0px auto; 
}

.subtitle span{
    padding: 10px;
    border-radius: 10px;
    background-color: aquamarine;
}

.tags{
    margin-left: 50px;
    margin-right: 50px;
}

.ex{
    border-radius: 20px;
    padding: 20px 20px 20px 100px;
    background-color: rgb(211, 211, 211);
}
.ex2{
    border-radius: 20px;
    padding-left: 50px;
    padding: 20px;
    text-align: center;
    background-color: rgb(211, 211, 211);
}
.ex4{

    border-radius: 20px;
  
    padding: 20px 20px 0px 100px;
    background-color: rgb(211, 211, 211);
}

.link{
    text-align: center;
    padding: 20px;
    font-size: 20px;
    font-weight: 600;

}

.image{
    text-align: center;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 30px;
}